:root {
    --coral: #f28482;
    --teal: #84a59d;
    --rose: #f2b5d4;
    --black: #000000;
    --white: #ffffff;
}

main {
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left, .right {
    box-sizing: border-box;
    flex: 1 1 50%;
    height: 100%;
}

.left input {
    background: var(--teal);
    border: 0;
    color: var(--black);
    font-size: 1.2em;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.left input:focus {
    outline: none;
}

.right p {
    background: var(--rose);
    color: var(--white);
    font-size: 1.5em;
    height: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.overlay > .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.modal .message {
    color: var(--white);
    font-size: 2em;
}

.overlay.hidden {
    display: none;
}

.btn {
    background-color: var(--coral);
    border: 0;
    color: var(--white);
    display: block;
    cursor: pointer;
    padding: 8px 16px;
    margin: 32px auto;
    text-align: center;
}
